/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
     .result_screen_background_color{
        background-color:#05AAA5;
     }
     .result_screen_background_img{
     
     }
     .result_screen_img{
       width: 102px;
       height: 85px;
       border-radius: 10px;
       position: absolute;
        right: 17px;
        bottom: 20px;
        border: 5px solid #fff;
     }
     .result_screen{
      font-family: Open Sans;
      font-size: 24px;
      color: #fff;
     }
     .user_profile_img{
      width: 114px;
      height: 114px;
      border-radius: 50%;
     }
     .list_of_proved li div p{
      font-family: Open Sans;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
     }
      .list_of_proved li div i{
      
      font-size: 26px;
      color: #fff;
     }

     .div_bottom_boder{
      border-bottom: 1px solid #fff;
     }
     .profile_details .card{
        box-shadow: 0px 10px 30px  #00000066;
     }
     .card_header{
      background-color: #F4F4F4;
      border-radius: .25rem;
      padding: 10px;
     }
     .card_header h3{
        font-family: Open Sans;
        font-size: 16px;
        font-weight: bold;
        color: #071615;
     }

     .profile_details_boder{
      border-bottom: 1px solid #00000066;
     }
     .profile_details .card-body p{
        font-family: Open Sans;
        font-size: 12px;
        color: #364848;
     }
      .profile_details .card-body h4{
        font-family: Open Sans;
        font-size: 14px;
        color: #364848;
     }
     .submit_btn{
       background-color: #006764;
       text-transform: capitalize;
       font-family: Open Sans;
        font-size: 20px;
        color: #FFF;
     }
     .adhaar_upload_steps ul li:first-child{
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color:#13B8B3; 
        font-family: Open Sans;
        font-size: 14px;
        color: #fff;

     }
     .adhaar_upload_steps ul li:nth-child(2){
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color:#1DCEC9; 
        font-family: Open Sans;
        font-size: 14px;
        color: #fff;

     }
     .adhaar_upload_steps ul li:nth-child(3){
        width: 53px;
        height: 53px;
        border-radius: 50%;
        border: 2px solid #16C5C0;
        font-family: Open Sans;
        font-size: 14px;
        color: #fff;

     }
     .aadhaar_content h3{
        font-family: Open Sans;
        font-size: 26px;
        color: #fff;
     }
     .aadhaar_content p{
        font-family: Open Sans;
        font-size: 16px;
        color: #fff;
     }
     .aadhaar_btn{
        height: 92px;
        background-color:#007773;
        box-shadow: 0px 8px 30px  #0000004D;
        font-family: Open Sans;
        font-size: 20px;
        color: #fff;
        text-align: left;
        border-radius: 10px;
     }
     .upload_icon{
          float: right;
     }
     .aadhaar_content a{
       color: #fff;
       text-decoration: underline;
     }
     .aadhaar_content p:nth-child(4){
        padding: 15px;
        font-family: Open Sans;
        font-size: 18px;
        color: #fff;
       
     }
}
.upload_tab_bg{
  background-color:#F2F8F8;
 
}
.upload_tabs{
   border-bottom: 2px solid #ccc !important;
}
.upload_tabs .nav-item{
   margin-bottom: 0px;
}
.upload_tabs .nav-item .nav-link{
   font-family: Open Sans;
    font-size: 16px;
   color: #5F6368;
   padding: 10px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    font-family: Open Sans;
    font-size: 16px;
   color: #05AAA5;
    background-color: #f2f8f8;
    border-color: #f2f8f8;
    padding: 10px;

}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #f2f8f8;
}
.nav-tabs .nav-link{
  border-bottom: none;
}
/* Steps */
.step {
  position: relative;
  min-height: 6em;
  color: gray;
}
.step + .step {
  margin-top: 2.5em
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
      padding-left: 2em;
    margin-top: 10px;
}
.step.step-active {
  color: #05AAA5
}
.step.step-active .circle {
  border: 1px solid #05AAA5;
}

/* Circle */
.circle {
      position: relative;
    width: 42px;
    height: 42px;
    line-height: 2.5em;
    border-radius: 100%;
    color: #B3C9C9;
    text-align: center;
    border: 1px solid #B3C9C9;
}

/* Vertical Line */
.circle:after {
      content: ' ';
    position: absolute;
    display: block;
    top: 3px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: #cfdbea;
    z-index: 0;
}
.step:last-child .circle:after {
  display: none
}

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-family: Open Sans;
  font-size: 16px;
  color: #4E4E4E;
 
}
.title.active{
  color: #05AAA5;
 }

.border_bottom{
 border-bottom: 1px solid #ccc;
 padding-bottom: 18px;
}
.caption {
  font-size: 0.8em;
}
.pan_card_picture{
  width: 100%;
  background-color: #fff;
}
.verify_btn{
  font-family: Open Sans;
  font-size: 20px;
  color: #fff;
  background-color: #05AAA5;
}
.vedio_cal_bg{
  background-color: #000;
  

}
.vedio_screen_img{
    width: 102px;
    height: 85px;
    border-radius: 10px;
    position: absolute;
    right: 202px;
    top: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 3px 10px #00000066;
     }
.vedio_icons{
  position: absolute;
    bottom: 52px;
        left: 41%;
}
.micro_phone{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  
}
.call{
   width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color:#F44336;
}

.result_screen_background_color{
        background-color:#05AAA5;
        padding-bottom: 10px;
     }
     .result_screen_background_img{
     
     }
     .result_screen_img{
       width: 102px;
       height: 85px;
       border-radius: 10px;
       position: absolute;
        right: 17px;
        bottom: 20px;
        border: 5px solid #fff;
     }
     .result_screen{
      font-family: Open Sans;
      font-size: 24px;
      color: #fff;
     }
    
     .adhaar_upload_steps p{
      font-family: Open Sans;
        font-size: 20px;
        color: #fff;
     }
     .adhaar_upload_steps ul li:first-child{
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color:#13B8B3; 
        font-family: Open Sans;
        font-size: 14px;
        color: #fff;

     }
     .adhaar_upload_steps ul li:nth-child(2){
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color:#1DCEC9; 
        font-family: Open Sans;
        font-size: 14px;
        color: #fff;

     }
     .adhaar_upload_steps ul li:nth-child(3){
        width: 53px;
        height: 53px;
        border-radius: 50%;
        border: 2px solid #16C5C0;
        font-family: Open Sans;
        font-size: 14px;
        color: #fff;

     }
     .aadhaar_content h3{
        font-family: Open Sans;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
     }
     .aadhaar_content p{
        font-family: Open Sans;
        font-size: 16px;
        color: #fff;
     }
     .aadhaar_btn{
        height: 92px;
        background-color:#007773;
        box-shadow: 0px 8px 30px  #0000004D;
        font-family: Open Sans;
        font-size: 20px;
        color: #fff;
        text-align: left;
        border-radius: 10px;
     }
     .upload_icon{
          float: right;
     }
     .aadhaar_content a{
       color: #fff;
       text-decoration: underline;
     }
     .aadhaar_content p:nth-child(4){
        padding: 15px;
        font-family: Open Sans;
        font-size: 18px;
        color: #fff;
       
     }
     .aadhaar_button_active{
      background-color:#063937;
     }

/*sigin page css*/
.logo_bg{
  background-color: #fff;
  align-items: flex-end;
}
.logo_bg p{
  font-family: Open Sans;
  font-size: 40px;
  font-weight: bold;
  color: #048C88;
}
     .signin_background{
  background-color: #E2EAEA;
}
.signin_header p{
  font-family: Open Sans;
  font-size: 16px;
  color: #3A3A3A;
  font-weight: bold;
}
.form-group label{
   font-family: Open Sans;
  font-size: 14px;
  color: #5B5B5B;
  margin-bottom: .0rem;
}
.forgot_password{
  font-family: Open Sans;
  font-size: 14px;
  color: #707070;
  float: right;
}
.sign_in_btn{
  font-family: Open Sans;
  font-size: 18px;
  color: #fff;
  background-color:#00716E;
  box-shadow:none;
}
.sign_in_btn:hover{
    color: #fff;
}
.sign_in_btn:hover{
   box-shadow:none;
}
.form-check-label{
  font-family: Open Sans;
  font-size: 14px;
  color: #707070;
  display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
}

.form-check-label input:checked ~ .checkmark {
  background-color: #00716e;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.form-check-label input:checked ~ .checkmark:after {
  display: block;
}
.form-check-label .checkmark:after {
  left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.New_to_ind{
     font-family: Open Sans;
     font-size: 14px;
    color: #707070;
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    line-height: 0.1em;
    
}
.New_to_ind span{
  background: #E2EAEA;
    padding: 0 10px;
}
.create_btn{
   font-family: Open Sans;
  font-size: 15px;
  color: #707070;
  background-color:#fff;
  border: 1px solid #D1D1D1;
  box-shadow:none;
}
.create_btn:hover{
   box-shadow:none;
}
/*consent page*/
.content_page{
  height: 100vh;
}

.çonsent_content h1{
   font-family: Open Sans;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.çonsent_content p{
   font-family: Open Sans;
  font-size: 20px;
  color: #fff;
}

.yes_btn{
  width: 100px;
  height: 45px;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
     font-family: Open Sans;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
}
.yes_btn_bg{
  color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

/*waiting page*/
.counter{
  width: 100%;
  background-color:#23C8C3;
  border-radius: 10px;

}
.counter p{
 font-family: Open Sans;
  font-size: 24px;
  color: #fff;
}
.counter h1{
 font-family: Open Sans;
  font-size: 100px;
  color: #fff;
}   

  /*starting page*/

  .loader {
  position: relative;
  margin: 40px;
}
.loader__dot {
  display: block;
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: #fff;
  float: left;
}
.pulse {
  will-change: transform, opacity;
  -webkit-animation: pulse 1.25s infinite ease;
          animation: pulse 1.25s infinite ease;
}
.pulse__one {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.pulse__two {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.pulse__three {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*selfie*/
.selfie_screen_header_background_color{
  background-color: #000;
}
.selfie_screen_header_background_color h4{
   font-family: Open Sans;
  font-size: 22px;
  color: #fff;
}
.selfie_screen_background_color{
  font-family: Open Sans;
  font-size: 16px;
  color: #fff;
}
.selfie_screen_background_color{
  background-color: #00000099;

}
.oval_shape{
      width: 100%;
    height: 600px;
    background-color: #ffffff;
    border-radius: 90%;
}

.outer_cirlce_border{
  width: 100px;
  height:100px;
  border: 2px solid #fff;
  border-radius: 50%;
      margin: 0 auto;
}
.inside_circle{
  width: 74px;
  height:74px;
  background:#fff;
  border-radius: 50%;
  margin: 10px auto;

}
/*pan_card_scan*/
.square_shape{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: #fff;
}


.dash_board_side_nav{
  background-color: #00716E;
  height: 100vh;
}
.dashboard_body{
  background-color: #E2EAEA;
}
.dashboard_bg{
  background-color: #fff;
  width: 100%;
  align-items: center;
}
.dashboard_bg p{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Open Sans;
    font-size: 18px;
}
.dashboard_account_info{
  padding-left: 10px;
  padding-right: 10px;
  
}
.dashboard_account_info_bg{
  box-shadow: 0px 3px 6px #ccc;
  align-items: center;
    justify-content: space-between;
}
.account_img{
      padding-left: 10px;
}
.account_img img{
  width: 73px;
    height: 73px;
    border-radius: 50%;
}
.account_img_header p{
   font-family: Open Sans;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.account_img_header span{
  font-family: Open Sans;
    font-size: 14px;
    margin-left: 12px;
}
.dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ccc;
}
.counter{
      padding-right: 10px;
    align-items: center;

}
.onoffswitch {
    position: relative; width: 85px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 11px;
    background-color: #34A7C1;
    color: #FFFFFF;
    padding-top: 4px;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    padding-top:4px;
}
.onoffswitch-switch {
    display: block;
    width: 30px;
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    bottom: 0;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    height: 30px; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 5px; 
}



.card_color{
  background-color: #fff;
  width: 100%;
}
.card_aligment{
  align-items: center;
  justify-content: space-between;
}
.over_all_calls{
  align-items: center;
}
.over_all_calls_icon{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #E5F9F9;
  border: 1px solid #C7F3F3;
}
.over_all_calls p{
  font-family: Open Sans;
    font-size: 16px;
}
.over_all_calls span{
  font-family: Open Sans;
    font-size: 14px;
    color: #A1A1A1;
}
.over_all_calls_count p{
  
}
.user_name{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #A3BADE;
  color: #fff;
  font-family: Open Sans;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check_color{
  color: #00716E;
}
.th_bg{
  background-color: #D6F2F0;
}
.user_name_content{
  font-family: Open Sans;
    font-size: 14px;
    color: #068D87;
}
.date_time{
  font-family: Open Sans;
    font-size: 13px;
    color: #3D3F43;
}
.pading_date{
      padding-top: 25px !important;
}
.over_all_calls_content p{
   font-family: Open Sans;
    font-size: 16px;
    color: #3D3F43;
}
.over_all_calls_content span{
   font-family: Open Sans;
    font-size: 14px;
    color: #A1A1A1;
}
.total_count{
  font-family: Open Sans;
    font-size: 30px;
    color: #000000;
}
.ico_color{
  color: #038B88;
  font-size: 24px;
}

.next_customer{
      width: 400px;
    height: 300px;
    border-radius: 10%;
    position: absolute;
    top: 200px;
    background-color: #fff;
    left: 500px;
}
.counter_bg{
  background-color: #D6D6D6;
}